* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #efeded;
  font-family: "Montserrat", sans-serif;
}

/* Шапка сайту */
.header {
  height: 115px;
  width: 100%;
  padding: 20px;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #4d99e7;
  background-image: url(content/images/blue-sky.jpg);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  box-shadow: 0 5px 10px #00000035;
}

.head-title-box {
  height: 50px;
  width: auto;
}

.head-title {
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  color: #003b46;
}

.head-text {
  color: #003b46;
  font-size: 12px;
}

/* Головний блок */
main {
  width: 100%;
  height: auto;
  padding: 20px;
}

/* Вікно помилки */
.page-404 {
  width: 100%;
  height: calc(100dvh - 155px);
  display: none;
  justify-content: space-between;
}

.left-side-404 {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
}

.message-404 {
  font-size: 44px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  color: #5c0000;
}

.right-side-404 {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: end;
}

.blue-satellite {
  height: 120px;
  width: 120px;
}

/* Сторінка прогнозу магнітних бур */
.page-forecast {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.block-header {
  width: 100%;
  height: auto;
  padding-top: 8px;
  padding-bottom: 4px;
  border-bottom: 1px solid #bcbcbc;
}

.block-header:first-child {
  padding-top: 0;
}

.block-day {
  color: #4b4b4b;
  font-size: 22px;
  font-weight: 400;
}

.block-date {
  color: #4b4b4b;
  font-size: 12px;
  font-weight: 300;
}

.block-hour-info {
  width: 100%;
  height: 28px;
  padding: 4px 0 2px 20px;
  display: flex;
}

.estimated {
  background: linear-gradient(to right, #c6c6c6, #efeded);
}

/* Стилі для першого .estimated */
.first-estimated-style {
  border-radius: 8px 8px 0 0;
  scroll-margin-top: 144px;
}

/* Стилі для останнього .estimated */
.last-estimated-style {
  border-radius: 0 0 8px 8px;
}

/* Стилі для єдиного .estimated */
.single-estimated-style {
  border-radius: 8px;
}

/* Стилі для останнього .observed */
.last-observed-style {
  scroll-margin-top: 200px;
}

.block-time {
  width: 80px;
  color: #4b4b4b;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.block-kp {
  width: 60px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.block-status {
  width: calc(100% - 120px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block-status-text {
  color: #4b4b4b;
  font-size: 12px;
}

.block-status-line {
  height: 4px;
  border-radius: 2px;
}
